.bar {
  fill: darkslateblue;
}

.bar:hover {
  fill: darksalmon;
}

.tooltip {
  font-family: sans-serif;
  font-size: 10px;
  fill: blue;
}

.button-group-1 {
  margin-right: 15px;
  margin-left: 70px; 
}
